.banner .loaded {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-xl);
    padding: 0 1.5rem;
    background-image: url("../../../../assets/images/bg//bg-today-large.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .loaded>div:nth-child(1) {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.banner .loaded>div:nth-child(1)>p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: var(--font-weight-600);
}

.banner .loaded>div:nth-child(1)>p:nth-child(2) {
    color: var(--neutral-200);
}

.banner .loaded>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.banner .loaded>div:nth-child(2) img {
    height: 110px;
    animation: sunny-effect 2s linear infinite;
}

.banner .loaded>div:nth-child(2) strong {
    font-size: 5.5rem;
    font-weight: var(--font-weight-500);
    font-style: italic;
}

@media (max-width: 600px) {
    .banner .loaded {
        flex-direction: column;
        align-items: start;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .banner .loaded>div:nth-child(2) img {
        height: 120px;
    }
}

@media (max-width: 375px) {
    .banner .loaded {
        background-image: url("../../../../assets/images/bg/bg-today-small.svg");
    }
}