.dashboard {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 4rem;
}

main>section:first-of-type {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main>section:first-of-type .banner {
    height: 250px;
    border-radius: var(--border-radius-xl);
    background-color: var(--neutral-800);
}

@media (max-width: 1024px) {
    main {
        flex-direction: column;
    }

    main>section:first-of-type {
        width: 100%;
    }
}