.rain-icon,
.drizzle-icon,
.snow-icon,
.partly-cloudy-icon,
.thunderstorm-icon {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rain-icon>img,
.drizzle-icon>img,
.snow-icon>img {
    position: relative;
    height: 100%;
    margin: auto;
}

.rain-icon>div,
.drizzle-icon>div,
.snow-icon>div {
    position: absolute;
    display: flex;
    top: 80px;
}

.rain-icon>div span:nth-child(odd),
.drizzle-icon>div span:nth-child(odd),
.snow-icon>div img:nth-child(odd) {
    transform: translateY(15px);
}

/* rain */
.rain-icon>div img {
    height: 10px;
    animation: rain-effect 0.6s linear infinite;
    transform-origin: bottom;
}

.rain-icon>div img:nth-child(2) {
    animation-delay: 1s;
}

.rain-icon>div img:nth-child(3) {
    animation-duration: 1.3s;
}

/* drizzle*/
.drizzle-icon>div {
    justify-content: center;
    gap: 5px;
}

.drizzle-icon>div span {
    height: 10px;
    width: 2px;
    background-color: #4ec1f5;
    border-radius: 30px;
    animation: rain-effect 2s linear infinite;
    animation-duration: calc(12s/var(--position));
    transform-origin: bottom;
}

/* sunny icon */
.sunny-icon {
    height: 65px;
    width: 65px;
}

.sunny-icon img {
    animation: sunny-effect 1s linear infinite;
}


/* snow icon */
.snow-icon>div img {
    height: 10px;
    animation: snow-effect 1.3s linear infinite;
}

.snow-icon>div img:nth-child(2) {
    animation-delay: 2s;
}

.snow-icon>div img:nth-child(3) {
    animation-delay: 2.5s;
}

/* partly cloudy */
.partly-cloudy-icon {
    position: relative;
}

.partly-cloudy-icon>img:first-of-type {
    z-index: 1;
    height: 60px;
}

.partly-cloudy-icon>img:last-of-type {
    position: absolute;
    height: 40px;
    left: 3px;
    top: 3px;
    transform: scale(1.2);
    animation: partly-cloudy-effect 3s linear infinite;
}

/* thunderstorm */
.thunderstorm-icon img:nth-child(1) {
    position: relative;
    height: 100%;
}

.thunderstorm-icon .thunder {
    position: absolute;
    left: 30px;
    width: 40px;
    top: 75px;
    animation: thunder-effect 1s linear infinite;
}

/* cloudy */
.cloudy-icon img {
    height: 60px;
}

@keyframes partly-cloudy-effect {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes rain-effect {
    0% {
        transform: translateY(0) scale(1);
    }

    70% {
        transform: translateY(15px) scale(1);
    }

    100% {
        transform: translateY(15px) scale(0);
    }
}

@keyframes sunny-effect {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

@keyframes snow-effect {
    0% {
        transform: translateY(0) scale(1) rotate(180deg);
    }

    70% {
        transform: translateY(25px) scale(1) rotate(360deg);
    }

    100% {
        transform: translateY(25px) scale(0) rotate(360deg);
    }
}

@keyframes thunder-effect {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(0.7);
    }

    45% {
        transform: scale(0);
    }

    60% {
        transform: scale(0.7);
    }

    75% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}